.pokedex{
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    background: #fff;
    border-radius: 16px;
    margin-top: 35px;
    gap: 20px;
}
@media(max-width:390px){
    .pokedex{
        padding: 25px;
    }
}