.container__pokemon{
    position: relative;
    background-color: #fff;
    padding: 10px 16px;
    border-radius: 16px;
    width: 264px;
    height: 268px;
    box-shadow: 1px 1px 7px #000000a1;
    transition: transform 0.3s ease;
    cursor: pointer;
    z-index: 1;
}
.container__pokemon:hover{
    transform: scale(1.03);
}
.id-pokemon{
    color: #666666;
    font-weight: 400;
    text-align: end;
    margin: 0;
    z-index: 1;
}
.name-pokemon{
    font-weight: 300;
    z-index: 1;
}
.image-pokemon{
    position: absolute;
    top: 45%; 
    left: 50%;
    width: 200px;
    height: auto;
    z-index: 1;
}
.container__pokemon-pokemon-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.footer__name{
    position: absolute;
    display: grid;
    place-items: end center;
    width: 100%;
    text-align: center;    
    right: 0;
    bottom: 0;
    right: 0;
    height: 120px;
    background-color:#EFEFEF;
    border-radius: 16px;
    z-index: -1;
}