.container__pokemon{
    position: relative;
    background-color: #fff;
    padding: 10px 16px;
    border-radius: 16px;
    width: 320px;
    height: 140x;
    box-shadow: 1px 1px 7px #000000a1;
    transition: transform 0.3s ease;
    cursor: pointer;
    z-index: 1;
}
.container__pokemon:hover{
    transform: scale(1.03);
}
.id-pokemon{
    color: #666666;
    font-weight: 400;
    text-align: end;
    margin: 0;
    z-index: 1;
}
.name-pokemon{
    font-weight: 300;
    margin: 0 0 7px 0;
    z-index: 1;
}
.image-pokemon{
    width: 170px;
    height: auto;
}
.container__pokemon-pokemon-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.footer{
    position: absolute;
    z-index:-1;
    width: 100%;
    right: 0;
    bottom: 0;
    height: 100px;
    background-color: #E0E0E0;
    border-radius: 17px;
}