.bodyStatus{
    position: relative;
}
<<<<<<< HEAD
.image-pokemonStatus{
=======

.image-pokemon-status{
>>>>>>> 24b2670dcdf6998c4eea345f7af519b156bf2719
    width: 350px;
    height: auto;
    position: absolute;
    top: 33%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 150px;
}
.header__left{
    display: flex;
    gap: 30px;
}
.nameStatus{
    color: #fff;
    font-size: 64px;
    max-width: 100%;
}
.idStatus{
    color: #fff;
    font-size: 32px;
    margin-top: 50px;
}
.pokeball-bg{
    opacity: 20%;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 450px;
    top: 0px;
    height: auto;
}
.arrowStatus{
    width: 60px;
    height: auto;
    cursor: pointer;
}
.descriptionStatus{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 16px;
    position: relative;
    margin-top: 100px;
    padding: 150px 20px 20px 20px;
}

.icons-weight{
    display: flex;
}

.type span:first-child{
    margin-right: 10px;
}
.type span{
    color: #fff;
    font-weight: 700;
    padding: 4px 16px;
    border-radius: 10px;
}
.spanAbout{
    font-size: 32px;
}
.about{
    display: flex;
    align-items: center;
}
.weight, .height, .moves{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icons-weight, .icons-height{
    display: flex;
    padding: 10px 25px;
    border-right: 1px solid #E0E0E0;
}
.moves{
    margin-left: 20px;
}
.textAbout{
    font-size: 22px;
}

